@yellow: #4398de;
@red: #e60f00;
@green: #13e600;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background: @red;
  color: white;
  .margenes(30px, 10px);
}

footer {
  padding: 5px;
  background-color:@green;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 240px;
  background-color: @yellow;
  .margenes(10px, 0px);
 }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
