.jumbotron {
  background: #D8FF00;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px; }

footer {
  padding: 5px;
  background-color: #1dcf96;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 240px;
  background-color: #FFFAEE;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

footer a:link {
  color: #181514;
  text-decoration: none; }

footer a:visited {
  color: #181514; }

footer a:hover {
  color: #034BF2; }

footer a:active {
  color: red; }
