$yellow: #D8FF00;
$red: #FFFAEE;
$green: #1dcf96;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}
.jumbotron{
	background: $yellow;
	color:black;
	@include margenes(30px, 10px);
}
footer{
	padding: 5px;
	background-color: $green;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 240px;
  background-color: $red;
	@include margenes(10px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}

footer a:link {
  color: #181514;
  text-decoration: none;
}

footer a:visited {
  color:  #181514;
}

footer a:hover {
  color: #034BF2;
}

footer a:active {
  color: red;
}
